.mumble-chat-list 
{
	.mumble-channel-name
	{
		color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
	}
	ul
	{
		margin-left: 5px;
		list-style: none;
		padding-left: 5px;
	}
	.mumble-user-icon
	{
		width: 16px;
		height: 16px;
	}
}

.mumble-menu-panel {
	overflow-y: auto;
}

#mumble-user-count-badge
{
	position: absolute;
	font-size: 14px;
	top: 0px;
	right: 1px;
	background-color: $secondary-low; 
	color: $secondary-very-high;
	padding: 3px;
	margin-bottom: 10px;
	border-radius: 50%;
}